#footer-first{
    background: #00af66;
    background-image: url("/sources/img/landingPage/bg-2.png");
    background-repeat: no-repeat;
    background-position: right;    

    padding: 4% 0;
    font-family: stellar, serif;
    text-align: center;

    h2{
        font-size: 2em;
        font-weight: 300;
        color: #25282a;
        padding: 0 0 5% 0;
    }
    span{
        color: #ffff;
        font-size: 3em;
    }
}

#footer-second{
    background: #007a5a;

    p{
        color: #25282a;
        font-family: stellar, serif;
        font-weight: 300;
    }
}