<section id="mainList" class="container mb-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Bienvenido</h1>
            <h3>Acá lo prometido, opciones</h3>
        </div>
    </div>

    <div class="row">
            <input type="text" placeholder="Busque los hoteles por provincia" class="col-md-12 form-control border-right-0 border-left-0 border-top-0 rounded-0 border-dark my-3" ng-model="vm.buscador">
    </div>

    <div class="row">
        <select class="custom-select  border-top-0 border-left-0 border-right-0 rounded-0 border-dark col-md-2 text-left" ng-model="vm.orden">
            <option value="">Ordenar...</option>
            <option value="nombre">Ascendente</option>
            <option value="-nombre">Descendente</option>
        </select>
    </div>

    <div class="row py-5" id="list-element" ng-repeat="hoteles in vm.retornarHoteles | filter: vm.buscador | orderBy: vm.orden">
        <h4 class="col-md-6 m-0 py-2">{{hoteles.nombre}}</h4>

        <p class="col-md-6 text-md-right align-self-end m-0 py-2"> {{hoteles.provincia}}, {{hoteles.canton}}, {{hoteles.distrito}}</p>

        <img src="{{hoteles.foto}}" alt="Imagen del hotel" class="py-5 col-md-6">

        <p class="col-md-6 align-self-center text-center">{{hoteles.direccion}}</p>

        <a ng-if="!vm.admin" ng-click="vm.perfilHotel(hoteles)" class="col-md-12 align-self-end text-md-right text-info">Ver más...</a>

        <div class="col-md-12 py-4" ng-if="vm.admin">
            <button type="button" ng-click="vm.editarHotel(hoteles)" class="btn btn-success rounded-0">Editar hotel</button>
            <button type="button" ng-click="vm.eliminarHotel(hoteles)" class="btn btn-success rounded-0">Eliminar hotel</button>
        </div>

    </div>

</section>