<header-Content ></header-Content>

<main>
    <section id="first-block" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Porque su opinión nos importa</h1>
                    <h4 class="py-4">Cuéntenos acerca de su previa estadía</h4>
                    <span class="fas fa-arrow-circle-down"></span>
                </div>
            </div>
        </div>
    </section>

    <section id="second-block" class="text-center">
        <div class="container">

            <div class="row" id="text">
                <div class="col-md-12 py-3">
                    <h2>¿Qu<span class="pb-4">e hace</span>mos?</h2>
                    <p class="py-5">Somos un grupo de emprendedores que nos enfocamos en su comodidad y le traemos esta herramienta donde además de ver opciones de hospedaje, podrá ver también la calificación de cada hotel en diferentes aspectos</p>
                </div>
            </div>

            <div class="row" id="icons">
                <div class="col-md-4 py-3">
                    <h2 class="far fa-heart py-3"></h2>

                    <h3>encuentre su hotel soñado</h3>
                </div>

                <div class="col-md-4 py-3">
                    <h2 class="far fa-building py-3"></h2>

                    <h3>filtre la mejor estadía</h3>                    
                </div>

                <div class="col-md-4 py-3">
                    <h2 class="far fa-sun py-3"></h2>

                    <h3>disfrute sus vacaciones</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="third-block">
        <h2>Contáctenos</h2>
        <a href="tel:71914507">
            <span class="fas fa-mobile"></span>
        </a>
    </section>
</main>

<footer-Content></footer-Content>