// importar tipografias
@font-face {
    font-family: 'stellar';
    src: url('./fonts/Stellar-light.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'stellar';
    src: url('./fonts/Stellar-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'stellar';
    src: url('./fonts/Stellar-Medium.otf');
    font-weight: 500;
}